
// font
$YLFontFamilyNormal: Hiragino Sans GB, WenQuanYi Micro Hei, Helvetica, Lucida, Verdana, sans-serif;
$YLFontFamilyMono: "XHei Mono", "Courier New", Courier, monospace;
$YLFontSizeDefault: 16px;

// Disable text adjust on iOS, Android, WP
$YLTextSizeAdjustDiabled: true;

$YLEnableResponsiveTextAdjust: false;



// Grid system
// auto, 1080px or 960px
$YLGridSystemWidth: 1080px;

$YLGridSystemColNumber: 12;

$YLGridSystemGutterWidth: 20px;


