
// Font
$YLFontFamilyNormal: "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", Helvetica, Lucida, Verdana, sans-serif;
$YLFontFamilyMono: "XHei Mono", "WenQuanYi Micro Hei Mono", "Courier New", Courier, monospace;
$YLFontSizeDefault: 100%;

// Disable text adjust on iOS, Android, WP.
$YLTextSizeAdjustDiabled: false;

$YLEnableResponsiveTextAdjust: true;


// Link color
$YLLinkColorNormal  : #07F;
$YLLinkColorHover   : #3AF;
$YLLinkColorActive  : #6CF;
$YLLinkColorVisited : #275186;


// Grid system
$YLEnableGridSystem: false;

// auto, 1080px, 960px or any other
$YLGridSystemWidth: auto;
$YLGridSystemColNumber: 12;
$YLGridSystemGutterWidth: 0;

// Example
// fluid grid system
// $YLGridSystemWidth: auto;
// $YLGridSystemColNumber: 12;
// $YLGridSystemGutterWidth: 0;

// 1080px 18 colomns grid system
// $YLGridSystemWidth: 1080px;
// $YLGridSystemColNumber: 18;
// $YLGridSystemGutterWidth: 20px;

// 960px 12 colomns grid system
// $YLGridSystemWidth: 960px;
// $YLGridSystemColNumber: 12;
// $YLGridSystemGutterWidth: 20px;


// Enable debug outputs when compiling.
$YLDebugMode: false;
