
$YLFontFamilyNormal: Helvetica, Lucida, Verdana, sans-serif !default;
$YLFontFamilyMono: Courier, monospace !default;
$YLFontSizeDefault: 100% !default;
$YLTextSizeAdjustDiabled: false !default;
$YLEnableResponsiveTextAdjust: false !default;

body {
    font-family: $YLFontFamilyNormal;
    font-weight: 400;
    line-height: 1.8;

    // 字体基准
    font-size: $YLFontSizeDefault;
    
    // 这个优化要求必须正确设置 viewport，否则字体会变得过小
    // 推荐的设置： <meta name="viewport" content="width=device-width" />
    @if $YLEnableResponsiveTextAdjust {
        @media screen and (min-width:1000px) {
            font-size: 18/16 * 100%;
        }
    
        @media screen and (min-width:1200px) {
            font-size: 20/16 * 100%;
        }
    
        @media screen and (min-width:1400px) {
            font-size: 22/16 * 100%;
        }
    
        @media screen and (min-width:1600px) {
            font-size: 24/16 * 100%;
        }
    
        @media screen and (min-width:1800px) {
            font-size: 26/16 * 100%;
        }
    }
}

@if $YLTextSizeAdjustDiabled {
    body,
    div,
    p,
    a,
    li,
    td,
    small {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
    }
}

textarea {
    // 使用等宽字体
    font-family: $YLFontFamilyMono;
}
