$YLLinkColorNormal  : #08F !default;
$YLLinkColorHover   : #3AF !default;
$YLLinkColorActive  : #6CF !default;
$YLLinkColorVisited : #275186 !default;

a {
    // 默认不显示下划线，hover 状态才显示，保持页面简洁，
    text-decoration: none;
    
    // Remove the gray background color from active links in IE 10.
    background: transparent;
    
    color: $YLLinkColorNormal;
    
    &:visited {
        color: $YLLinkColorVisited;
    }
    
    // Address `outline` inconsistency between Chrome and other browsers.
    &:focus {
        outline: thin dotted;
    }
    
    &:hover {
        color: $YLLinkColorHover;
        text-decoration: underline;
        outline: 0;
    }
    
    // Improve readability when focused and also mouse hovered in all browsers.
    &:active {
        color: $YLLinkColorActive;
        outline: 0;
    }
    
    // 区域内的链接没有过多状态，典型场景如：导航
    .no_link_status & {
        
        &:visited {
            color: $YLLinkColorNormal;
        }
        
        &:hover {
            text-decoration: none;
        }
    }
}
