$YLLinkColorNormal  : #07F !default;
$YLLinkColorHover   : #3AF !default;
$YLLinkColorActive  : #6CF !default;
$YLLinkColorVisited : #275186 !default;

a {
    // Remove underline by default.
    text-decoration: none;
    
    // Remove the gray background color from active links in IE 10.
    background: transparent;
    
    color: $YLLinkColorNormal;
    
    &:visited {
    }
    
    // Address `outline` inconsistency between Chrome and other browsers.
    &:focus {
        outline: thin dotted;
    }
    
    &:hover {
        color: $YLLinkColorHover;
        outline: 0;
    }
    
    // Improve readability when focused and also mouse hovered in all browsers.
    &:active {
        color: $YLLinkColorActive;
        outline: 0;
    }
    
    .inherit-link & {
        color: inherit;
    }
}

.yolo a {
    &:visited {
        color: $YLLinkColorVisited;
    }
    
    &:hover {
        color: $YLLinkColorHover;
        text-decoration: underline;
    }
    
    &:active {
        color: $YLLinkColorActive;
    }
}
